<%- include('../partials/head.ejs')%>

<%- include('../partials/header.ejs')%>

<div class="container wrapper">
    <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
            <h3 class="display-4">I am a full stack web developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sed id inventore sint, architecto dolore reiciendis quaerat iusto assumenda necessitatibus asperiores blanditiis facilis, quis sit?</p>
        </div>
        <div class="col-md-6 ">
            <figure>
                <img src="./profile.png" alt="my profile picture" class='profile-img'>
            </figure>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs')%>

</body>
</html>